%%-*- mode: erlang -*-
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{plugins, [rebar_lock_deps_plugin]}.
{deps, [
	{lager,                  ".*", {git, "git://github.com/basho/lager.git",                 {branch,"master"}}},
	{rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch,"master"}}}
	]}.
